<h1>Registration</h1>
<form action='/users' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p>First Name: <input type='text' name='user[first_name]'></p>
	<p>Last Name: <input type='text' name='user[last_name]'></p>
	<p>Email: <input type='text' name='user[email]'></p>
	<p>Password: <input type='text' name='user[password]'></p>
	<p>Password Confirmation: <input type='text' name='user[password_confirmation]'></p>
	<p><input type='submit' value='Register'></p>
</form> 

<h1>Login</h1>
<form action='/session' method='post'>
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<p>Email: <input type='text' name='email'></p>
	<p>Password: <input type='text' name='password'></p>
	<p><input type='submit' value="Login"></p>
</form>

<% if flash[:success] %>
	<%= flash[:success] %>
<% end %>